# misc
*.DS_Store
# simply too massive tbd
combined_weather_data.csv 

#database
/data/db
*.db

#dev
/.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets


# Byte-compiled / optimized / DLL files
*__pycache__/
*.py[cod]
*$py.class

# PyInstaller
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
*migrations/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.env.local
.env.development.local
.env.test.local
.env.production.local
*.lock

# Cython debug symbols
cython_debug/
